{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_encoded/generate

    Renders the generate page for the encoded tool.

    Context variables required for this template:
    * tables - array of tables
        * name - name of the table
        * columns - array of columns
            * name - name of the column
            * link - link to the column page
        * all - all columns in the table
    * count - number of tables

    Example context (json):
    {
        "tables": [
            {
                "name": "table1",
                "columns": [
                    {
                        "name": "column1",
                        "link": "url"
                    },
                    {
                        "name": "column2",
                        "link": "url"
                    }
                ],
                "all": "column1, column2"
            },
            {
                "name": "table2",
                "columns": [
                    {
                        "name": "column1",
                        "link": "url"
                    }
                ],
                "all": "column1"
            }
        ],
        "count": 2
    }
}}
<table class="generaltable boxaligncenter mb-5">
    <thead>
        <tr>
            <th scope="col">{{#str}}table, tool_encoded{{/str}}</th>
            <th scope="col">{{#str}}column, tool_encoded{{/str}}</th>
            <th scope="col">{{#str}}report{{/str}}</th>
            <th scope="col">{{#str}}lastchecked, tool_encoded{{/str}}</th>
            <th scope="col">{{#str}}duration, tool_encoded{{/str}}</th>
            <th scope="col">{{#str}}actions{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#tables}}
            <tr class="{{#reportstatus}}table-warning{{/reportstatus}}">
                <td>{{name}}</td>
                <td>{{all}}</td>
                <td>
                    {{#lastchecked}}
                        {{#reportstatus}}{{#str}}recordsfound, tool_encoded{{/str}}{{/reportstatus}}
                        {{^reportstatus}}{{#str}}recordsfoundnotfound, tool_encoded{{/str}}{{/reportstatus}}
                    {{/lastchecked}}
                </td>
                <td>
                    {{#lastchecked}}
                        {{#userdate}}{{lastchecked}}, {{#str}} strftimedatetime, core_langconfig {{/str}}{{/userdate}}
                    {{/lastchecked}}
                </td>
                <td>
                    {{#lastchecked}}
                        {{duration}}
                    {{/lastchecked}}
                </td>
                <td>
                    <form {{#link}}action="{{link}}" {{/link}}method="post">
                        <input type="hidden" name="sesskey" value="{{sesskey}}">
                        <input type="hidden" name="table" value="{{name}}">
                        <input type="hidden" name="columns" value="{{all}}">
                        <button id="{{name}}_generate" class="btn btn-primary btn-sm" name="action" value="generate" type="submit" aria-label="{{#str}}queuetable, tool_encoded{{/str}}">
                            <i class="icon fa fa-bolt fa-fw m-0"></i> Generate
                        </button>
                        <button id="{{name}}_report" class="btn btn-primary btn-sm" name="action" value="report" type="submit" aria-label="{{#str}}displayreport, tool_encoded{{/str}}">
                            <i class="icon fa fa-info fa-fw m-0"></i> Report
                        </button>
                    </form>
                </td>
            </tr>
        {{/tables}}
        <tr>
            <td colspan="6">
                <form class="text-right" {{#link}}action="{{link}}" {{/link}}method="post">
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                    <input type="hidden" name="all" value="true">
                    <button class="btn btn-primary" name="action" value="generate" type="submit">{{#str}}queuealltables, tool_encoded, {{count}}{{/str}}</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
