{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_encoded/reportlinks

    Renders the links for the report page for the encoded tool.

    Context variables required for this template:
    * viewlink - link to the area to view the base64 data
    * migrate - whether it is possible to migrate for the given column
    * migrateall - show the option to migrateall
    * recordid - the recordid for the migration
    * sesskey - sesskey
    * count - number of records

    Example context (json):
    {
        "viewlink": "url",
        "migrate": true,
        "migrateall": true,
        "recordid": 2,
        "sesskey": "sesskey",
        "count": 2
    }
}}
<form method="post">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="recordid" value="{{recordid}}">
    {{#viewlink}}
        <a class="btn btn-primary btn-sm" href="{{viewlink}}">
            <i class="icon fa fa-pencil fa-fw m-0"></i> View
        </a>
    {{/viewlink}}
    {{#migrate}}
        <button id="migrate_{{recordid}}" class="btn btn-primary btn-sm" name="action" value="migrate" type="submit" aria-label="{{#str}}queuerecord, tool_encoded{{/str}}">
            <i class="icon fa fa-database fa-fw m-0"></i> Migrate
        </button>
    {{/migrate}}
    {{#migrateall}}
    <div class="text-right">
        <a class="btn btn-primary" href="?action=generate">{{#str}}generatereport, tool_encoded{{/str}}</a>
        {{#count}}
            <button id="migrate_all" class="btn btn-primary" name="action" value="migrate" type="submit">{{#str}}queueallrecords, tool_encoded{{/str}}</button>
        {{/count}}
    </div>
    {{/migrateall}}
</form>

